.SearchContainer {
  display: flex;
  justify-content: center;
}
.SearchInput {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}
.SearchButton {
  border: none;
  background-color: orangered;
  padding: 8px 15px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
